@import "tailwindcss";

:root {
  --font-family: 'JetBrains Mono';
}
html {
  font-family: var(--font-family, 'JetBrains Mono'), monospace;
}
html, body {
  height: 100%;
}
/* body {
  display: flex;
  flex-direction: column;
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse"><path d="M 40 0 L 0 0 0 40" fill="none" stroke="%232C2C2C" stroke-width="1"/></pattern></defs><rect width="100%" height="100%" fill="url(%23grid)"/></svg>');
  background-repeat: repeat;
  background-size: 40px 40px;
} */

/* 
.hover-code-style:hover {
  background-color: #1f1f1f;
  border-color: #3a86ff;
  color: #3a86ff;
}
.highlight {
  border-color: #3a86ff !important;
  background-color: #1f1f1f !important;
  color: #3a86ff !important;
}
.desc-item {
  cursor: crosshair;
  animation: fade-in 0.5s ease-out;
}
@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
} */